.dnd5e.actor .encumbrance {
  background: rgba(0, 0, 0, 0.5);
  height: 12px;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.dnd5e.actor .encumbrance .variant-encumbrance-bar {
  float:left;
  background: rgba(0,0,0,0);;
  height: 14px;
  margin-right: 1px;
  margin-top: -2px;
  border: 2px solid #111;;
  border-radius: 3px;
}

.dnd5e.actor .encumbrance .encumbrance-bar {
  background: #782e22;
  height: 8px;
  margin: 1px;

  border: 1px solid #ff6400;
  border-radius: 3px;
}

.dnd5e.actor .encumbrance .encumbrance-label {
  float: right;
  position: absolute;
  right: 10px;
  text-align: right;
  color: rgb(255, 255, 255);
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
}